* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #272626;

body {
  font-family: "Open Sans", sans-serif;
  background: $mainGrey;
  color: $mainWhite;
}
